/* Typeset 2 */
/* Edit mode iframe styles
------------------------------------------------- */

	.ts-editable {
		outline: 5px solid rgba(255,234,0, 1);
		min-height: 10px;
		position: relative;
		}
	
	.ts-addible {
		position: relative;
		}	
	
	.ts-action {
		position: absolute !important;
		top: 0;
		right: 0;
		z-index: 900;
		float: right;
		width: 40px;
		height: 40px;
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		background-size: 50%;
		background-position: center center;
		background-repeat: no-repeat;
		-webkit-transition: -webkit-transform .1s ease-out;
		-moz-transition: -moz-transform .1s ease-out;
		transition: transform .1s ease-out;
		}
		
	.ts-action:hover {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		transform: scale(1.1);
		}
	
	.ts-action.add {
		left: 0;
		right: auto;
		opacity: 1;
		background-color: rgba(255,234,0, 1);
		background-image: url('/edit/images/a-add.svg');
		}
	
	.ts-action.edit {
		bottom: 0;
		top: auto;
		background-color: rgba(255,234,0, 1);
		background-image: url('/edit/images/a-edit.svg');
		}	
