@import "library";

/* Fonts
-------------------------------------------- */
	
	body {
		text-rendering: optimizeLegibility;
		}		

/* Structural Containers
-------------------------------------------- */

	html, body {
		height: 100%;
		}
		
	body {
		font: normal 16px/22px $typeface;
		}
		
	a { 
		color: #000;
		}

	iframe {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: none;
		}
		
	small {
		display: block;
		font-size: 12px;
		color: rgba(0,0,0, .5);
		margin-top: $space;
		}
	
/* Overlay
-------------------------------------------- */

	#signout {
		position: fixed;
		top: 0;
		right: $space*2;
		float: right;
		margin: 0;
		z-index: 10;
		@include box-shadow(0 0 10px rgba(0,0,0, .15));		
		}

	#overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba($accent, .75);
		z-index: 2;
		-webkit-animation-name: fade;
		-webkit-animation-duration: .25s;
		-webkit-animation-iteration-count: 1;	
		display: none;
		}
		
	#overlay.show,
	#page-signin #overlay {
		display: block;
		}
	
	.form, .prompt {	
		width: $form_width;
		margin: $space*4 auto 0;
		padding: $space 0;
		background: #fff;
		position: relative;
		z-index: 3;
		min-height: 100px;
		@include box-shadow(0 0 40px rgba(0,0,0, .15));
		-webkit-animation-name: swoop;
		-webkit-animation-duration: .5s;
		-webkit-animation-iteration-count: 1;
		display: none;
		}
		
	.form.show,
	.promp.show,
	#page-signin .form {
		display: block;
		}
		
	.prompt,
	.form {
		> h3 {
			font-size: 28px;
			padding: $space $space*2;
			border-bottom: 1px solid #eee;
			}
		}
			
	.close {
		@include notext;
		position: absolute;
		z-index: 100;
		top: $space;
		right: $space;
		width: 25px;
		height: 25px;
		background: url('../images/a-close.svg') center center no-repeat;
		background-size: 100%;
		opacity: .25;
		&:hover { opacity: 1; }
		}
	
/* Upload Progress Indicator
-------------------------------------------- */

	#uploading {
		width: 280px;
		border-radius: 300px;
		
		canvas {
			width: 200px;
			height: 200px;
			display: block;
			margin: $space auto;
			}
			
		strong {
			display: block;
			text-align: center;
			text-transform: uppercase;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			margin-top: $space/-2;
			font-weight: 300;
			}
		
		}	
		
/* Forms
-------------------------------------------- */

	form {
	
		label {
			float: left;
			position: relative;
			padding: $space/2 $space*2;
			width: $form_width - $space*4;
			}
			
		br { clear: left; }
		
		em {
			display: block;
			font-style: normal;
			text-transform: capitalize;
			}
	
		}
		
/* Inputs */		

	textarea {
		min-height: 200px;
		}
		
	input[type="text"],
	input[type="email"],
	input[type="password"],
	textarea {
		font: normal 18px/26px $typeface;
		outline: none;
		border: none;
		padding: 10px 0;
		width: $form_width - $space*4;
		}
		
	.title input {
		font-size: 24px;
		font-weight: bold;
		}
		
	input[type="file"] {
		cursor: pointer;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 2;
		left: 0;
		top: 0;
		padding: 0;
		margin: 0;
		opacity: 0 !important;
		}
		
/* Date */
	
	$date_width: 35px;
	
	.date {
		position: absolute;
		z-index: 5;
		top: $space*1.5;
		left: $space/-2;
		width: $space*2;
		padding: $space/2 0;
		background: #fff;
		text-align: center;
		cursor: pointer;
		color: #aaa;
		&:hover { color: #000; }
		
		span {
			display: block;
			line-height: 1em;
			}
		
		.month {
			text-transform: uppercase;
			font-size: 10px;
			}
			
		.day {
			font-size: 16px;
			font-weight: bold;
			}
			
		input {
			display: block;
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
			}
	
		}
		
	.picker {
		width: 300px !important;
		z-index: 20;
		border: none;
		
		.picker__day {
			font-weight: bold;
			}
			
		.picker__holder {
			border-color: #eee;
			}
		
		}
			
/* Exceptions */

	label.title,
	label.url,
	label.email {
		@include border;
		}

/* Images
-------------------------------------------- */

	label.image {
	
		background: #eee;
	
		img {
			float: left;
			height: 32px;
			margin-right: $space/2;
			}
			
		.button.small.del {
			position: relative;
			z-index: 3;
			}
	
		}
		
	/* #resizer { display: none; } */

/* Buttons
-------------------------------------------- */

	.button {
		display: block;
		border: none;
		cursor: pointer;
		padding: $space $space*2;
		margin: $space*2 $space*2 $space;
		background: $accent;
		font-family: $typeface;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: bold;
		outline: none;
		color: rgba(0,0,0, .5);
		text-decoration: none;
		
		&:hover { color: #000; }
		
		&.delete {
			background: transparent;
			position: absolute;
			bottom: $space*2;
			right: $space*2;
			opacity: .25;
			border: 1px solid transparent;
			margin: 0;
			
			&:hover {
				border: 1px solid;
				}

			}
			
		&.disabled {
			cursor: wait;
			background: #eee;
			}
			
		}
		
/* Small */

	.button.small {
		float: left;
		margin: 0 $space/2 0 0;
		padding: $space/2 $space;
		font-size: 12px;
		line-height: 12px;
		background: #fff;
		}
		
/* Textarea 
-------------------------------------------- */		
	
	.cm-header,
	.cm-header1,
	.cm-header2
	.cm-header3
	.cm-header4
	.cm-header5
	.cm-header6 {
		font-size: 130%;
		}
		
	.CodeMirror {
		height: auto !important;
		font: normal 18px/26px $typeface !important;		
		}
		
	.CodeMirror-empty {
		color: #aaa !important;
		}

	.CodeMirror-scroll {
		overflow-y: hidden;
		overflow-x: auto;
		}

	.CodeMirror-selected {
		background: $accent;
		}
		
/* Tooltip */

	$tooltip_width: 250px;
	
	.tooltip {
		position: absolute;
		top: $space;
		right: $space;
		
		> a {
			display: block;
			width: $space;
			height: $space;
			border-radius: $space;
			border: 2px solid #eee;
			text-align: center;
			color: #bbb;
			text-decoration: none;
			font-weight: 800;
			font-size: 12px;
			line-height: $space;
			}
			
		> div {
			display: none;
			position: absolute;
			bottom: 50%;
			left: 50%;
			margin-left: $tooltip_width/-2 - $space;
			width: $tooltip_width;
			background: rgba(255,255,255, .8);
			z-index: 100;
			padding: $space;
			@include box-shadow(0 0 10px rgba(0,0,0, .15));		
			font-size: 13px;
			-webkit-animation-name: swoop;
			-webkit-animation-duration: .5s;
			-webkit-animation-iteration-count: 1;
			}
			
		&:hover > div { display: block; }
		&:hover > a {
			border-color: #000;
			color: #000;
			}
			
		}
