/* compiled by scssphp v0.0.4 on Wed, 15 Jan 2014 09:04:43 +0100 (0.1937s) */

/* Fonts
-------------------------------------------- */
/* Library */
/* Variables
------------------------------------------------------------------------------- */
/* Mixins
------------------------------------------------------------------------------- */
@-webkit-keyframes "swoop" {
  0% {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }

  25% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px); }

  50% {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
    opacity: 1; }

  75% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes "fade" {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

body {
  text-rendering: optimizeLegibility;
  /* Structural Containers
-------------------------------------------- */ }

html, body {
  height: 100%; }

body {
  font: normal 16px/22px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  color: #000; }

iframe {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; }

small {
  display: block;
  font-size: 12px;
  color: rgba(0, 0, 0, .5);
  margin-top: 20px;
  /* Overlay
-------------------------------------------- */ }

#signout {
  position: fixed;
  top: 0;
  right: 40px;
  float: right;
  margin: 0;
  z-index: 10;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, .15);
  -ms-box-shadow: 0 0 40px rgba(0, 0, 0, .15);
  -o-box-shadow: 0 0 40px rgba(0, 0, 0, .15);
  box-shadow: 0 0 40px rgba(0, 0, 0, .15); }

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 234, 0, .75);
  z-index: 2;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-iteration-count: 1;
  display: none; }

#overlay.show, #page-signin #overlay {
  display: block; }

.form, .prompt {
  width: 600px;
  margin: 80px auto 0;
  padding: 20px 0;
  background: #fff;
  position: relative;
  z-index: 3;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, .15);
  -ms-box-shadow: 0 0 40px rgba(0, 0, 0, .15);
  -o-box-shadow: 0 0 40px rgba(0, 0, 0, .15);
  box-shadow: 0 0 40px rgba(0, 0, 0, .15);
  -webkit-animation-name: swoop;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  display: none; }

.form.show, .promp.show, #page-signin .form {
  display: block; }

.prompt > h3, .form > h3 {
  font-size: 28px;
  padding: 20px 40px;
  border-bottom: 1px solid #eee; }

.close {
  display: block;
  text-indent: 200%;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  position: absolute;
  z-index: 100;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  background: url('../images/a-close.svg') center center no-repeat;
  background-size: 100%;
  opacity: 0.25;
  /* Forms
-------------------------------------------- */ }
  .close:hover {
    opacity: 1; }

form {
  /* Inputs */ }
  form label {
    float: left;
    position: relative;
    padding: 10px 40px;
    width: 520px; }
  form br {
    clear: left; }
  form em {
    display: block;
    font-style: normal;
    text-transform: capitalize; }

textarea {
  min-height: 200px; }

input[type="text"], input[type="email"], input[type="password"], textarea {
  font: normal 18px/26px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: none;
  border: none;
  padding: 10px 0;
  width: 520px; }

.title input {
  font-size: 24px;
  font-weight: bold; }

input[type="file"] {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  opacity: 0 !important;
  /* Date */ }

.date {
  position: absolute;
  z-index: 5;
  top: 30px;
  left: -10px;
  width: 40px;
  padding: 10px 0;
  background: #fff;
  text-align: center;
  cursor: pointer;
  color: #aaa; }
  .date:hover {
    color: #000; }
  .date span {
    display: block;
    line-height: 1em; }
  .date .month {
    text-transform: uppercase;
    font-size: 10px; }
  .date .day {
    font-size: 16px;
    font-weight: bold; }
  .date input {
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer; }

.picker {
  width: 300px !important;
  z-index: 20;
  border: none;
  /*
	.date + label.title {
		padding-left: $space/2;
		width: $form_width - $space*4 - $date_width - $space/2;
		
		input {
			width: 100%;
			}
	
		}
	*/
  /* Exceptions */ }
  .picker .picker__day {
    font-weight: bold; }
  .picker .picker__holder {
    border-color: #eee; }

label.title, label.url, label.email {
  border-bottom: 1px solid #eee;
  /* Animations
------------------------------------------------------------------------------- */
  /* Images
-------------------------------------------- */ }

label.image {
  background: #eee;
  /* Buttons
-------------------------------------------- */ }
  label.image img {
    float: left;
    height: 32px;
    margin-right: 10px; }
  label.image .button.small.del {
    position: relative;
    z-index: 3; }

.button {
  display: block;
  border: none;
  cursor: pointer;
  padding: 20px 40px;
  margin: 40px 40px 20px;
  background: #ffea00;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  color: rgba(0, 0, 0, .5);
  text-decoration: none;
  /* Small */ }
  .button:hover {
    color: #000; }
  .button.delete {
    background: transparent;
    position: absolute;
    bottom: 40px;
    right: 40px;
    opacity: 0.25;
    border: 1px solid transparent;
    margin: 0; }
    .button.delete:hover {
      border: 1px solid; }

.button.small {
  float: left;
  margin: 0 10px 0 0;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 12px;
  background: #fff;
  /* Textarea 
-------------------------------------------- */ }

.cm-header, .cm-header1, .cm-header2 .cm-header3 .cm-header4 .cm-header5 .cm-header6 {
  font-size: 130%; }

.CodeMirror {
  height: auto !important;
  font: normal 18px/26px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important; }

.CodeMirror-empty {
  color: #aaa !important; }

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto; }

.CodeMirror-selected {
  background: #ffea00; }
