/* RESEN */	
/* Layout
------------------------------------------------------------------------------- */
		
		
	html,
	body {
	
		height: 100%;
		
		}
		
	body {
	
		background: #121212;
		padding-bottom: 30px;
	
		}

	
/* Type and Headings
------------------------------------------------------------------------------- */


	body {
	
		font: normal 11px/13px "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #ccc;
	
		}
		
		
/* Links
------------------------------------------------------------------------------- */
		
		
	 a {
	
		text-decoration: none;
		color: #555;
	
		}
		
	 a:hover {
	
		color: #ccc;
	
		}
			

/* Buttons
------------------------------------------------------------------------------- */


	a.button,
	input[type="submit"],
	.inactive .button:active {
	
		font: bold 11px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
		float: left;
		background: url('../images/bg-button.png') 0 center repeat-x;
		font-weight: bold;
		color: #222;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, .2);
		padding: 5px 10px;
		border-radius: 3px;
		border: 1px solid #333;
		cursor: pointer;
		
		background: #666;
		background-image: -webkit-linear-gradient(#888 0%, #555 100%);
		background-image: -moz-linear-gradient(#888 0%, #555 100%);

		}
		
	.button span {
	
		display: block;
	
		}
		
	.button:active,
	input[type="submit"]:active,
	.over .button {
	
		color: #ccc;
		text-shadow: rgba(0, 0, 0, .9) 0px 1px 1px;
		
		background: #444;
		background-image: -webkit-linear-gradient(#444 0%, #555 100%);
		background-image: -moz-linear-gradient(#444 0%, #555 100%);

		}
		
	.inactive {

		opacity: .4;
	
		}
		
	.inactive a {
	
		cursor: default;
	
		}
		
		
/* Upload */


	input[type="file"] {
	
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
		cursor: pointer;
	
		}


/* Tools
------------------------------------------------------------------------------- */	


	#tools {
	
		position: fixed;
		top: 0;
		left: 0;
		z-index: 102;
		float: left;
		width: 90%;
		padding: 5px 5%;
		border: 1px solid #444;
		-webkit-box-shadow: 0 0 20px #000;
		-moz-box-shadow: 0 0 20px #000;
		background: #555;
		background-image: -webkit-linear-gradient(#666 0%, #333 100%);
		background-image: -moz-linear-gradient(#666 0%, #333 100%);

		}
		
	#tools li {
	
		float: left;
		margin-right: 5px;
		position: relative;
	
		}
		
	#back a span {
	
		padding-left: 16px;
		background: url('../images/a-back.png') 0 center no-repeat;
	
		}
		
	#back.over a {
		

		}
		
	#file a span {
	
		padding-left: 16px;
		background: url('../images/a-file.png') 0 center no-repeat;
	
		}
		
	#folder a span {
	
		padding-left: 16px;
		background: url('../images/a-folder.png') 0 center no-repeat;
	
		}
		
	#tools #search {
	
		float: right;
		display: none;
	
		}
		
	#tools #resen {
	
		float: right;
	
		}
		
	#resen a {
	
		display: block;
		text-indent: -5000px;
		width: 31px;
		height: 27px;
		background: url('../images/resen.png');
	
		}
		
		
/* Sign In */

		
	#signin form {
	
		display: block;
		display: none;
	
		}
		
	#signin input[type="text"],
	#signin input[type="password"] {
	
		float: left;
		font: bold 11px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #333;
		background: #777;
		border: 1px solid #333;
		padding: 5px;
		outline: none;

		}
		
	#signin input:focus {
	
		background: #999;	
	
		}
		
	#signin input[type="text"] {
	
		border-radius: 3px 0 0 3px;
		border-right: none;
	
		}
		
	#signin input[type="password"] {
	
		border-left-color: #555;
		margin-right: 5px;
		border-radius: 0 3px 3px 0;
	
		}
		
		
/* Slider
------------------------------------------------------------------------------- */
		

	#tools > #size {
		
		margin: 10px 50px 0 10px;
		float: right;
	
		}
		
	.slider {
	
		width: 100px;
		height: 6px;
		background: #333;
		border-radius: 20px;
		border: 1px solid rgba(255,255,255,.2);
		position: relative;
	
		}
		
	.slider a {
	
		display: block;
		width: 10px;
		height: 10px;
		background: #999;
		position: absolute;
		top: 0;
		left: 0;
		margin: -2px 0 0 -5px;
		border-radius: 20px;
		cursor: default;
	
		}
		
	.slider a:hover {
	
		background: #ccc;
	
		}


/* Overlay
------------------------------------------------------------------------------- */
		
		
	#overlay {
	
		position: absolute;
		z-index: 104;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,.65);
	
		}
		
	#overlay > div {
	
		color: #555;
		background: #efefef;
		position: absolute;
		top: 50%;
		left: 50%;
		border-radius: 5px;
		padding: 20px;
	
		}
		
		
/* Files */		
		
		
	#overlay > .files {
	
		width: 450px;
		max-height: 250px;
		margin: -10% 0 0 -245px;
		overflow: auto;
	
		}
		
	.files ul {
	
		float: left;
		width: 100%;
		margin-bottom: -10px;
	
		}
	
	.files li {
	
		float: left;
		width: 100%;
		background: #bbb;
		margin-bottom: 10px;
		border-radius: 5px;
		overflow: hidden;
		position: relative;
	
		}
		
	.files strong {
	
		position: absolute;
		top: 0;
		left: 10px;
		color: #fff;
		line-height: 25px;
	
		}
		
	.files var {
	
		float: left;
		background: #555;
		height: 25px;
		border-radius: 5px;
		
		}
		
		
/* Credit
------------------------------------------------------------------------------- */
		
		
	#credit {
        
		position: fixed;
		z-index: 103;
		top: 6px;
		right: 5%;
		display: block;
		text-indent: -5000px;
		overflow: hidden;
        width: 28px;
        height: 28px;
        background: #000 url('../images/resen.png') center center no-repeat;
        opacity: .25;
        border-radius: 3px;
	
		}
	
		
/* Debug
------------------------------------------------------------------------------- */
				
				
	#debug {
	
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background: #444;
		padding: 20px;
		z-index: 100;
	
		}