/* compiled by scssphp v0.0.4 on Tue, 07 Jan 2014 09:05:02 +0100 (0.0174s) */

.typset {
  position: relative;
  outline: 5px solid rgba(0, 255, 255, .5); }
  .typset:hover {
    outline: 5px solid #0ff; }

.typset-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, .75);
  display: none; }
  .typset-overlay.show {
    display: block; }
  .typset-overlay > div {
    width: 750px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid;
    background: #fff; }
