	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		}
		
/* Type
------------------------------------------------------------------------------- */

	body {
		font: normal 16px/27px "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #000;
		}
		
	h1, h2, h3, h4, h5, p, ul, ol {
		margin-bottom: 20px;
		}
		
	.title {
		text-align: center;
		}
		
	h2 {
		font-size: 48px;
		line-height: 1em;
		letter-spacing: -.05em;
		margin-bottom: 40px;
		}
		
	a {
		color: #000;
		text-decoration: none;
		}
		
	code {
		background: #efefef;
		padding: 3px;
		font: normal .9em/1em Consolas, 'Liberation Mono', Menlo, Courier, monospace;
		}
		
/* Structural Containers
------------------------------------------------------------------------------- */
	
	body {

		}
		
	section {
		padding: 40px 0;
		position: relative;
		float: left;
		width: 100%;
		}
		
	ul {
		padding-left: 40px;
		}
		
/* Billboard
------------------------------------------------------------------------------- */
			
	#billboard {
		height: 85vh;
		background: #efefef;
		text-align: center;
		}
		
	#billboard > div {
		width: 75%;
		max-width: 500px;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		}

	h1 {
		text-indent: 200%;
		overflow: hidden;
		text-align: left;
		white-space: nowrap;
		width: 100px;
		height: 100px;
		background: url('/logo.png');
		background-size: 100%;
		margin: 0 auto 20px;
		}
		
	#billboard small {
		display: block;
		font-size: 10px;
		color: rgba(0,0,0, .25);
		}
		
	.button {
		border-bottom: 3px solid #fdf100;
		}
	
	.button:hover {
		opacity: 1;
		}
		
	.github {
		position: absolute;
		top: 0;
		left: 20px;
		display: block;
		font-size: 12px;
		color: #fff;
		background: #000;
		padding: 0 10px;
		opacity: .25;
		-webkit-transition: opacity .15s ease-out;
		-moz-transition: opacity .15s ease-out;
		transition: opacity .15s ease-out;
		}
		
	.github:hover {
		opacity: 1;
		}
		
/* Features
------------------------------------------------------------------------------- */

	#features {
		font-size: 14px;
		line-height: 22px;
		width: 75%;
		margin: 0 auto;
		}
		
	#features ul {
		list-style-type: none;
		padding: 0 20px;
		max-width: 1000px;
		margin: 0 auto;
		}
		
	#features li {
		float: left;
		width: 33.3%;
		padding: 0 20px 20px;
		}
		
	#features li:nth-child(3n+1) {
		clear: left;
		}
		
	#features h4 {
		display: block;
		font-size: 1.3em;
		line-height: 1.3em;
		margin-bottom: 5px;
		}
		
/* Installation
------------------------------------------------------------------------------- */
	
	#installation {
		width: 75%;
		max-width: 500px;
		margin: 0 auto;
		}
		
	#installation ol {
		padding-left: 30px;
		}
		
	#installation li {
		margin-bottom: 20px;
		}

/* Other Stuff
------------------------------------------------------------------------------- */
			
	#misc li {
		margin-bottom: 20px;
		}
						
	
/* Tabs
------------------------------------------------------------------------------- */

	.tabs {
		border-bottom: 2px solid #000;
		text-align: center;
		}
		
	.tabs li {
		display: inline-block;
		}
		
	.tabs a {
		opacity: .5;
		padding: 5px 10px;
		}
		
	.tabs a:hover {
		opacity: 1;
		}
	
	.tabs .selected a {
		opacity: 1;
		color: #fff;
		background: #000
		}
		
/* Examples
------------------------------------------------------------------------------- */
		
	#examples {

		}
		
	#examples > div {
		float: left;
		width: 100%;
		margin: 0 auto;
		padding-top: 20px;
		}
		
	#examples .intro {
		width: 75%;
		max-width: 500px;
		margin: 0 auto 40px;
		}
		
	#examples .intro h3 {
		font-size: 26px;
		}
		
	pre {
		
		}
		
	pre code {
		background: transparent;
		padding: 20px !important;
		font-size: 14px !important;
		line-height: 20px !important;
		}
		
	#examples .example {
		width: 75%;
		max-width: 500px;
		margin: 40px auto;
		}
		
	#examples img {
		max-width: 100%;
		}
		
	.example h4 {
		margin-bottom: 0;
		} 
		
	.example a {
		border-bottom: 3px solid #fdf100;
		}
		
/* Templates
------------------------------------------------------------------------------- */
		
	#misc {
		width: 75%;
		max-width: 500px;
		margin: 0 auto;
		}
		
/* Footer
------------------------------------------------------------------------------- */
	
	footer {
		text-align: center;
		font-size: 12px;
		padding: 10px 0;
		background: #efefef;
		clear: both;
		}
		
	footer a {
		border-bottom: 3px solid #fdf100;
		}